.header{
    padding: 120px;
    text-align: left ;
    background: #dec6d4;
    color:whitesmoke;
    font-size: 12px;
}
/*posiciona a logo no cabeçalho da página*/
.header .logo{
  position:fixed;
  top: 10px;
  left: 15px;
  width:200px;
  height: 200px;
}
/*cor de dentro da barra de pesquisa*/
.header .BarraDePesquisa {
  display: block;
  position: fixed;
  left:40% ;
  top:20%;
  font-weight: 500;
  border-radius: 12px;
  text-transform: capitalize;
  width:400px;
  height: 3px;
  background-color: #f8f8f8;
  text-align: center;
  padding: 14px 16px;
  font-size: 17px;
  color: #a66d8e;
}



/*
.header{
  background: #f5f2f4;
  background: #ede6ea;
  background: #e6dae1;
  background: #dec6d4;
  background: #d4b4c7;
  background: #c9a5ba;
  background: #b38aa2;
  background: #a66d8e;
}
  */